{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="py-5 bg-light">
        <section id="about">
            <div class="container">
              <h3 class="mb-4 text-center">About Me</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <p class="text-left">
Thank you for visiting my portfolio web site.<br>
I am Haruyasu Kaitori from Japan. My major is a Mathematics. I love solving problems.<br>
<br>
I started working at FUJISOFT as a Software Engineer from 2008 in Nagoya, Japan. With experiences in development of car navigation system and car platform and real-time operating systems for automotive embedded systems, I have gained programming knowledge in Python, C/C++ and Ruby. I managed and provided technical leadership to a team of 5 Software Engineers. Also I am a full-stack web developer. I have advanced knowledge in Django, HTML, CSS, JavaScript.<br>
<br>
Based on my 8 years of experience as a Software Engineer, I am confident with my experiences and ready for a next step. When I watched "Avatar" in 2009, I was very impressed with its realistic and absolutely amazing computer graphics. It was my first time watching a 3D movie. I thought it was fascinating and looked very realistic. It inspires me to create movies that will present with as vivid an experience as possible.<br>
<br>
I decided to live in Vancouver to change my career in 2016.
I am keenly interested in new technologies and I believe that technologies will grow in the field of Visual
Effects. I learned Houdini at Lost Boys to work in Visual Effects inderstry in 2017. I specialized in creating feature film simulated phenomenon and effects and pyro/smoke, particle system is my favorite subject. 
And then I moved to Montreal to work as a Pipeline TD at Reel FX.<br>
<br>
Recently I am passionate about Machine Learning, Artificial Intelligence, Virtual Reality, Mixed Reality.<br>
<br>
One of my favorite hobbies is hiking. I love to carry my backpack with some sandwiches, water and walk around mountains. I have been enjoying my adventure. <br>
Thanks for your time. <br>
<br>
Haruyasu Kaitori
                        </p>
                    </div>
                    <div class="col-lg-6 image-box">
                      <div class="about-img shadow">
                          <img src="{% static 'img/about.jpg' %}">
                      </div>
                        <br>
                      <div class="about-img shadow">
                          <img src="{% static 'img/graduation.jpg' %}">
                      </div>
                        <div class="text-center">
                            <p class="about-img-text">Graduation Ceremony in Lost Boys</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
