{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="mb-4 career-title">SUMMARY OF QUALIFICATIONS</h1>
                    <p>
                        8-year proven track record working as a Software Engineer.<br>
                        Ability to handle pressure in difficult situations as a result of my calm demeanour as attested
                        by my references.<br>
                        Strong communicator fluent in English and Japanese.<br>
                        Works well with public, clients, vendors and co-workers at all levels.<br>
                        Bachelor of Science Degree in Japan, graduating with honours.<br>
                        <br>
                    </p>
                    <h1 class="mb-4 career-title">SKILLS</h1>

                    <div class="row text-left mt-5">
                        <div class="col-md-3 my-3">
                            <div class="row mb-3">
                                <div class="align-self-center col-10">
                                    <h5 class="text-dark"><b>Houdini</b></h5>
                                </div>
                            </div>
                            <p>Modeling, Procedural Geometry, Animation, VEX, RBD, Pyro, Crowd Simulation, Particle
                                System</p>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="row mb-3">
                                <div class="align-self-center col-10">
                                    <h5 class="text-dark"><b>Mantra</b></h5>
                                </div>
                            </div>
                            <p>Shading, Lighting and Rendering</p>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="row mb-3">
                                <div class="align-self-center col-10">
                                    <h5 class="text-dark"><b>Nuke</b></h5>
                                </div>
                            </div>
                            <p>Compositing and Color Grading</p>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="row mb-3">
                                <div class="align-self-center col-10">
                                    <h5 class="text-dark"><b>After Effects</b></h5>
                                </div>
                            </div>
                            <p>Compositing and Color Grading</p>
                        </div>
                    </div>
                    <h1 class="mb-4 career-title">TECHNICAL</h1>
                    <div class="row text-left mt-5">

                        <div class="col-md-3 my-3">
                            <div class="row mb-3">
                                <div class="align-self-center col-10">
                                    <h5 class="text-dark"><b>Python</b></h5>
                                </div>
                            </div>
                            <p>PySide/PyQt, Django</p>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="row mb-3">
                                <div class="align-self-center col-10">
                                    <h5 class="text-dark"><b>C/C++</b></h5>
                                </div>
                            </div>
                            <p>Advanced development</p>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="row mb-3">
                                <div class="align-self-center col-10">
                                    <h5 class="text-dark"><b>Script</b></h5>
                                </div>
                            </div>
                            <p>Ruby, Shell</p>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="row mb-3">
                                <div class="align-self-center col-10">
                                    <h5 class="text-dark"><b>Web</b></h5>
                                </div>
                            </div>
                            <p>HTML, CSS, JavaScript, PHP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
