{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}

<!-- Home Section start -->
<section id="home" class="scroll-section root-sec grey home-wrap">
    <div class="sec-overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="home-inner">
                        <div class="align-self-center home-content">
                            <h1 class="home-title">HI! I'm <span>Haruyasu Kaitori</span></h1>
                            <h2 class="home-subtitle">Senior Software Engineer / Pipeline TD in Vancouver, BC, Canada</h2>

                            <div class="embed-responsive embed-responsive-16by9 video-pos">
                                <iframe src="https://player.vimeo.com/video/181526632" frameborder="0"
                                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #home Section end -->

<!-- About Section start -->
<section id="about" class="scroll-section root-sec padd-tb-60 grey about-wrap">
    <div class="container">
        <div class="about-inner">
            <div class="row">
                <div class="col-sm-5">
                    <div class="person-about">
                        <h3 class="about-subtitle">About Me</h3>
                        <div class="memo">
                            <p>
                                I am an experienced Software Engineer with a good eye for Visual Effects.
                                I have worked as a Software Engineer for 8 years, therefore I
                                have an extensive knowledge and experience in programming and I am acquiring the
                                knowledge and techniques of making Visual Effects.
                                And I am passionate about Machine Learning, AI and VR.<br>
                                <a href="{% url 'about' %}">Read More</a>
                            </p>
                        </div>
                        <a href="https://drive.google.com/open?id=0B9zE_fsWdvYFNlBSU1F2RmdpYmM"
                           class="btn btn-dark">
                            <i class="fa d-inline fa-lg fa-cloud-download-alt"></i> Download Resume</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="person-info">
                        <h3 class="about-subtitle">Personal Information</h3>
                        <p><span>Name :</span> Haruyasu Kaitori</p>
                        <p><span>Address :</span> Vancouver, BC, Canada</p>
                        <p><span>Tel :</span> +1 (778)-710-1648</p>
                        <p><span>Email :</span> haruvfx@gmail.com</p>
                        <p><span>Strong field :</span> Houdini, Python, C/C++</p>
                        <p><span>Interests :</span> Hiking, Running</p>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="person-img">
                        <img class="z-depth-1" src="{% static 'img/me.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #about Section end -->

{% endblock %}
