{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="container">
        <div class="py-4">
            <div class="text-center">
                <div class="insta">
                    <a href="https://www.instagram.com/hathle/">
                        <i class="fab fa-instagram"></i> hathle
                    </a>
                </div>
            </div>
            <!-- LightWidget WIDGET -->
            <script src="//lightwidget.com/widgets/lightwidget.js"></script>
            <iframe src="//lightwidget.com/widgets/1668e2a6d8f9582799e170c1d639a314.html" scrolling="no"
                    allowtransparency="true" class="lightwidget-widget"
                    style="width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>
    </div>

{% endblock %}
