{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="mb-4">PORTFOLIO</h3>
                    <h6>Software : Houdini, Mantra, Nuke</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light pic">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-fluid d-block w-100 mb-3 rounded"
                                 src="{% static 'img/smoke.jpg' %}">
                            <h5>Group Project : Earthquake</h5>
                            <ul>
                                <li>Procedural smoke, fire system</li>
                                <li>Procedual window glass system</li>
                                <li>Procedural falling debris system</li>
                                <li>Render passes(RGB, temperature, shadow path etc...)</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid d-block w-100 mb-3 rounded"
                                 src="{% static 'img/house.jpg' %}">
                            <h5>Digital Destruction : House collapse</h5>
                            <ul>
                                <li>Procedural house generation (beams, wall, window frames)</li>
                                <li>Voronoi fracturing of geometry</li>
                                <li>Procedural glue and constraints</li>
                                <li>Post sim fixes timing and jitter with CHOPs</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid d-block w-100 mb-3 rounded"
                                 src="{% static 'img/locusts.jpg' %}">
                            <h5>Crowd Simulation : locusts</h5>
                            <ul>
                                <li>Fuzzy logic AI system with CHOPs</li>
                                <li>Skinning, Rigging, Loop animation system</li>
                                <li>Walk, Jump, Idle, Fly particle system</li>
                                <li>Procedual population 500 locusts</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid d-block w-100 mb-3 rounded"
                                 src="{% static 'img/rambutan.jpg' %}">
                            <h5>Shading Rendering : Rambutan</h5>
                            <ul>
                                <li>Procedual geometry</li>
                                <li>Procedual shader of fruits color patterns</li>
                                <li>Lighting system</li>
                                <li>Render passes(Diffuse, Reflection, Refraction etc...)</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid d-block w-100 mb-3 rounded"
                                 src="{% static 'img/flytrap.jpg' %}">
                            <h5>Procedural Geometry : Venus Flytrap</h5>
                            <ul>
                                <li>Procedual geometry</li>
                                <li>Procedual population system</li>
                                <li>Multiple noise layers</li>
                                <li>Skinning, Rigging, Loop animation fly system</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid d-block w-100 mb-3 rounded"
                                 src="{% static 'img/web.png' %}">
                            <h5>My Portfolio Website</h5>
                            <ul>
                                <li>Web framework : Django Python</li>
                                <li>Front-end framework : Bootstrap4</li>
                                <li>HTML, CSS, Javascript</li>
                                <li>Contact form</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
