{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="mb-4">PORTFOLIO</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light pic">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-fluid d-block w-100 mb-3 rounded"
                                 src="https://pingendo.github.io/templates/sections/assets/gallery_9.jpg">
                            <p>Advanced Pyro / Fluid Simulation<br>
                                make smoke fire
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid d-block w-100 mb-3 rounded"
                                 src="https://pingendo.github.io/templates/sections/assets/gallery_5.jpg">
                            <p>Simulated Destruction<br>
                                House collapse
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid d-block w-100 mb-3 rounded"
                                 src="https://pingendo.github.io/templates/sections/assets/gallery_4.jpg">
                            <p>Crowd Animation and Particle Logic<br>
                                Locusts
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid d-block w-100 mb-3 rounded"
                                 src="https://pingendo.github.io/templates/sections/assets/gallery_3.jpg">
                            <p>Mantra Photorealistic Shader Development<br>
                                Ranbutan
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="container-fluid">
            <div class="row">
                <div class="p-0 col-md-4 col-6">
                    <img src="https://pingendo.github.io/templates/sections/assets/gallery_dogs.jpg" class="img-fluid">
                </div>
                <div class="col-md-4 col-6 p-0">
                    <img src="https://pingendo.github.io/templates/sections/assets/gallery_bird.jpg" class="img-fluid">
                </div>
                <div class="col-md-4 col-6 p-0">
                    <img src="https://pingendo.github.io/templates/sections/assets/gallery_farm.jpg" class="img-fluid">
                </div>
                <div class="col-md-4 col-6 p-0">
                    <img src="https://pingendo.github.io/templates/sections/assets/gallery_girl.jpg" class="img-fluid">
                </div>
                <div class="col-md-4 col-6 p-0">
                    <img src="https://pingendo.github.io/templates/sections/assets/gallery_nose.jpg" class="img-fluid">
                </div>
                <div class="col-md-4 col-6 p-0">
                    <img src="https://pingendo.github.io/templates/sections/assets/gallery_feet.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
