{% extends "blog/blog.html" %}
{% block content_post %}
    <h3 class="my-4">New Post</h3>

    <form class="post-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class='save btn btn-dark'>Save</button>
    </form>
    <script>
        var editor = new MediumEditor('.editable', {
            toolbar: {
                buttons: ["customHtml", 'bold', 'italic', 'underline', 'strikethrough', 'quote', 'anchor', 'image', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'superscript', 'subscript', 'orderedlist', 'unorderedlist', 'pre', 'removeFormat', 'outdent', 'indent', 'h1', 'h2', 'h3', 'html'],
            },
            extensions: {
                "customHtml": new CustomHtml({
                    buttonText: "<hr>"
                    , htmlToInsert: "<hr class='someclass'>"
                })
            },
            buttonLabels: 'fontawesome',
            anchor: {
                targetCheckbox: true
            }
        });
    </script>
{% endblock %}
