{% extends "blog/blog.html" %}
{% load blogfilter %}
{% block content_post %}
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h3 class="my-4">Blog
                <small>Houdini/Python Tips etc...</small>
            </h3>

            {% for post in post_list %}
                <!-- Blog Post -->
                <div class="card mb-4">
                    {% if post.image %}
                        <a href="{% url 'post_detail' pk=post.pk %}">
                            <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                        </a>
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-dark">Read &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{ post.published_date }} by Haru
                    </div>
                </div>
            {% endfor %}

            <!-- Pagination -->
            {% if is_paginated %}
                <nav class="my-4">
                    <ul class="pagination pagination-circle pg-darkgrey justify-content-center mb-0">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}">Previous</a>
                            </li>
                        {% endif %}

                        {% for link_page in page_obj.paginator.page_range %}
                            {% if link_page == page_obj.number %}
                                <li class=" page-item active">
                                    <a class="page-link" href="?{% url_replace request 'page' link_page %}">
                                        {{ link_page }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% url_replace request 'page' link_page %}">
                                        {{ link_page }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace request 'page' page_obj.next_page_number %}">
                                    Next
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
            <!-- Pagination -->
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <form action="{% url 'post_list' %}" method="GET" class="form-inline pull-xs-right">
                            <input class="form-control" type="text" name="keyword" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-dark" type="submit">Go!</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        {% for category in categories %}
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-3">
                                    <li>
                                        <a class="btn btn-dark" href="{% url 'category' category.name %}">
                                            {{ category.name }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            {#            <div class="card my-4">#}
            {#                <h5 class="card-header">Side Widget</h5>#}
            {#                <div class="card-body">#}
            {#                    Test Side Widget!!#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
