{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="py-5 bg-light">
        <div class="container text-dark">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="mb-4">JOB TITLE</h3>
                    <h5>FX Pipeline TD, Senior Software Engineer</h5>
                    <br>
                    <hr>
                    <br>

                    <h3 class="mb-4 career-title">SUMMARY OF QUALIFICATIONS</h3>
                    <p>
                        8-year proven track record working as a Software Engineer.
                        Ability to handle pressure in difficult situations as a result of my calm demeanour as attested
                        by my references.
                        Strong communicator fluent in English and Japanese.
                        Works well with public, clients, vendors and co-workers at all levels.
                        Bachelor of Science Degree in Japan, graduating with honours.<br>
                        <br>
                    </p>
                    <h3 class="mb-4 career-title">SOFTWARE</h3>

                    <div class="row text-left mt-5">
                        <div class="col-md-4 my-3">
                            <div class="row mb-3">
                                <div class="text-center col-2"><i class="d-block mx-auto fa fa-2x fa-home"></i></div>
                                <div class="align-self-center col-10">
                                    <h5 class="text-dark"><b>Main</b></h5>
                                </div>
                            </div>
                            <p><b>Houdini</b> : Procedural Modeling, Animation, RBD, Pyro, Crowd Simulation<br>
                                <b>Unreal Engine4</b> : Game development
                            </p>
                        </div>
                        <div class="col-md-4 my-3">
                            <div class="row mb-3">
                                <div class="text-center col-2"><i class="d-block mx-auto fa fa-2x fa-television"></i>
                                </div>
                                <div class="align-self-center col-10">
                                    <h5 class="text-dark"><b>Rendering</b></h5>
                                </div>
                            </div>
                            <p><b>Mantra, Redshift</b> : Shading, Lighting and Rendering</p>
                        </div>
                        <div class="col-md-4 my-3">
                            <div class="row mb-3">
                                <div class="text-center col-2"><i class="d-block mx-auto fa fa-2x fa-compress"></i>
                                </div>
                                <div class="align-self-center col-10">
                                    <h5 class="text-dark"><b>Compositing</b></h5>
                                </div>
                            </div>
                            <p><b>Nuke, Adobe After Effects/Premiere Pro</b> : Compositing and Color Grading</p>
                        </div>
                    </div>
                    <h3 class="mb-4 career-title">TECHNICAL</h3>
                    <div class="row text-left mt-5">

                        <div class="col-md-3 my-3">
                            <div class="row mb-3">
                                <div class="text-center col-2"><i class="d-block mx-auto fa fa-2x fa-terminal"></i></div>
                                <div class="align-self-center col-10">
                                    <h5 class="text-dark"><b>Python</b></h5>
                                </div>
                            </div>
                            <p>
                                <b>PySide/PyQt</b> : GUI development<br>
                                <b>Django</b> : Web framework<br>
                                Deep Learning for Image Recognition
                            </p>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="row mb-3">
                                <div class="text-center col-2"><i class="d-block mx-auto fa fa-2x fa-file-text-o"></i>
                                </div>
                                <div class="align-self-center col-10">
                                    <h5 class="text-dark"><b>C/C++</b></h5>
                                </div>
                            </div>
                            <p>
                                <b>C</b> : Embeded System development<br>
                                <b>C++</b> : Game development using UE4
                            </p>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="row mb-3">
                                <div class="text-center col-2"><i class="d-block mx-auto fa fa-2x fa-file-text-o"></i>
                                </div>
                                <div class="align-self-center col-10">
                                    <h5 class="text-dark"><b>Script</b></h5>
                                </div>
                            </div>
                            <p><b>Ruby, Shell</b></p>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="row mb-3">
                                <div class="text-center col-2"><i class="d-block mx-auto fa fa-2x fa-chrome"></i></div>
                                <div class="align-self-center col-10">
                                    <h5 class="text-dark"><b>Web</b></h5>
                                </div>
                            </div>
                            <p><b>HTML, CSS, JavaScript</b> : Website development, <br><b>PHP</b> : WordPress</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <a href="https://drive.google.com/open?id=0B9zE_fsWdvYFNlBSU1F2RmdpYmM"
                               class="btn btn-dark">
                                <i class="fa d-inline fa-lg fa-cloud-download"> </i>Download Resume</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
