{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="py-4 bg-light">
        <div class="container text-dark">
            <div class="row text-center">
                <div class="col-md-12 memo">

                    <h3><b>SOFTWARE</b></h3>

                    <div class="row text-center mt-3 mb-5">
                        <div class="col-md-3 my-3">
                            <div class="mb-3 ">
                                <div class="c100 p100 big center green">
                                    <span>100%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <h5><b>Houdini</b></h5>
                            <p class="text-muted">Procedural Modeling, Animation, RBD, Pyro, Crowd Simulation</p>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="mb-3 ">
                                <div class="c100 p100 big center green">
                                    <span>100%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <h5><b>Mantra, Redshift</b></h5>
                            <p class="text-muted">Shading, Lighting and Rendering</p>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="mb-3 ">
                                <div class="c100 p70 big center green">
                                    <span>70%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <h5><b>Nuke, After Effects</b></h5>
                            <p class="text-muted">Compositing and Color Grading</p>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="mb-3 ">
                                <div class="c100 p70 big center green">
                                    <span>70%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <h5><b>UE4(C++)/Unity(C#)</b></h5>
                            <p class="text-muted">2D/3D Game Development & Design</p>
                        </div>

                    </div>

                    <h3 class="mb-4"><b>TECHNICAL</b></h3>

                    <div class="row text-center mt-3 mb-5">
                        <div class="col-md-3 my-3">
                            <div class="mb-3 ">
                                <div class="c100 p100 big center green">
                                    <span>100%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <h5><b>Python</b></h5>
                            <p class="text-muted">PySide/PyQt, Machine Learning, Tensorflow</p>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="mb-3 ">
                                <div class="c100 p100 big center green">
                                    <span>100%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <h5><b>C/C++/C#</b></h5>
                            <p class="text-muted">Real-time OS for automotive embeded system development<a
                                    href="https://drive.google.com/open?id=1Q0TmVGVExuI0lquRXldyTXr4M0LBTL60">(ResearchPaper)</a>
                            </p>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="mb-3 ">
                                <div class="c100 p80 big center green">
                                    <span>80%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <h5><b>Backend</b></h5>
                            <p class="text-muted">Django, Flask, Ruby on Rails, PHP, MySQL</p>
                        </div>
                        <div class="col-md-3 my-3">
                            <div class="mb-3 ">
                                <div class="c100 p90 big center green">
                                    <span>90%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <h5><b>Frontend</b></h5>
                            <p class="text-muted">HTML, CSS, JavaScript</p>
                        </div>
                    </div>

                    <h3 class="mt-5 mb-5"><b>EDUCATION / WORK EXPERIENCES</b></h3>

                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{% static 'img/meijo.png' %}">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5><b>2004 - 2008</b></h5>
                                    <h5 class="subheading"><b>Meijo University</b></h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Bachelor of Science, Mathematics, OpenGL, Faculty of Science and Technology
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{% static 'img/fuji.png' %}">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5><b>2008 - 2011</b></h5>
                                    <h5 class="subheading"><b>Software Engineer</b></h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Developed a car navigation system of the model in 2011.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{% static 'img/fuji.png' %}">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5><b>2011 - 2015</b></h5>
                                    <h5 class="subheading"><b>R&D Software Engineer</b></h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Researched real-time operating systems for automotive embedded systems.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{% static 'img/fuji.png' %}">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5><b>2015 - 2016</b></h5>
                                    <h5 class="subheading"><b>Lead Software Engineer</b></h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Managed a team of 5 Software Engineers. Provide technical leadership to Software
                                        Engineers.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{% static 'img/lostboys.png' %}">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5><b>2017 - 2018</b></h5>
                                    <h5 class="subheading"><b>Lost Boys</b></h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        FX TD Program. Procedural Geometry, Mantra Shading, Crowd Animation,
                                        Destruction, Pyro/Fluid Projects.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{% static 'img/artifex.png' %}">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5><b>2018 - Present</b></h5>
                                    <h5 class="subheading"><b>Pipeline TD</b></h5>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Work with VFX Supervisor to build and maintain pipeline. Troubleshoot pipeline
                                        issues.
                                    </p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>  Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
